.children {
    margin-left: 2em;
}
.wrapper {
    > .children {
        margin-left: 0;
    }
}
.folder:before {
    content: 'folder ';
    color: red;
}
.file:before {
    content: 'file ';
    color: green;
}
