.children {
    margin-left: 1.5em;
}
.wrapper {
    > .children {
        margin-left: 0;
    }
}
i.icon {
    width: 1em;
    overflow: hidden;
    margin-right: 0;
}
.fakeIcon {
    display: inline-block;
    width: 1em;
}
.file {
    margin-left: 1em;
}
