.iconWrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;

    > * {
        margin: 0 10px 10px 0;
    }
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f6f6f6;

    &:hover {
        background-color: #ddd;
        border-color: #bbb;
    }
    svg {
        top: 0;
    }
}
.textWrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
}
.text {
    width: 10em;
    margin-right: 1em;
}
