.example {
    margin-bottom: 2em;

    &:last-child {
        margin-bottom: 0;
    }
}
.code {
    white-space: pre;
    padding: 10px;
    background-color: #f6f6f6;
}
.version {
    position: relative;
    top: -5px;
    left: 1em;
    letter-spacing: 1px;
}
