.link {
    cursor: pointer;
}
.arrowDown {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    position: relative;
    top: -0.1em;
    left: 0.4em;
}
.arrowLeft {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #000;
    position: relative;
    left: 0.4em;
}
