.example {
    margin-bottom: 2em;

    &:last-child {
        margin-bottom: 0;
    }
}
.code {
    white-space: pre;
    padding: 10px;
    background-color: #f6f6f6;
}
.desc pre {
    white-space: pre;
    padding: 5px;
    background-color: #f6f6f6;
    font-size: 0.9em;
    line-height: 1.2;
}
