.site {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em 1em;
}
.layout {
    display: flex;
}
.sidebar {
    flex: 0 0 200px;
    margin-right: 2em;
}
.body {
    flex-grow: 1;
}
.menuIcon {
    display: none !important;
}
.mobileMenu {
    display: none;
}
.hover {
    display: none;
}

@media (max-width: 780px) {
    .site {
        padding: 0 0 1em;
    }
    .menuIcon {
        display: flex !important;
    }
    .sidebar {
        display: none;
    }
    .body {
        padding: 0 1em;
    }
    .mobileMenu {
        display: block;
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        z-index: 102;
        transition: left 0.3s ease-out;

        &.show {
            left: 0;
        }
    }
    .hover {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.6;
        z-index: 101;
    }
}
